<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Events</title>
  <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
</head>



<body>
  <%- include('../partials/_navbar.ejs') %>                                        <!-- Adding the nav partial here -->
  <h1>Your Events</h1>
  <a href="/users/<%=user._id%>/events/new">Add an Event</a>                       <!-- The link for this route should match our defined route above -->

  <ul>
    <% events.forEach((event) => { %>
        <li>
            <a href="/users/<%= user._id %>/events/<%= event._id %>">              <!-- Add a link around each application, directing to the 'show' page -->
            <%= event.conferenceTitle %> promoted by <%= event.company %>
            </a>
        </li>

    <% }) %>
  </ul>
  <h2>> Top 10 Websites that Empower You to Find the Most Relevant and Exciting Events in Your Professional Field Across the United States.</h2>



</body>
</html>

