<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= event.title %></title>
</head>




<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1><%= event.conferenceTitle %> promoted by <%= event.company %></h1>
    <% if (event.personalNotes) { %>
        <p>Notes: <%= event.personalNotes %></p>
    <% } %>
    <% if (event.status) { %>
        <p>Status: <%= event.status %></p>
    <% } %>

<!------------------------- add the logic to the page ☝️ -------------------------------->
<!-- We will use the method-override to allow us to hit a delete route: -->
<form                                                                                
action="/users/<%= user._id %>/events/<%= event._id %>?_method=DELETE" 
method="POST"
>
<button type="submit">Delete this Event</button>
</form>

</body>
</html>
