<label for="field">Field:</label>
<select id="field" name="field">
  <option 
    value="Technology" 
    <%= event.field === "Technology" ? "selected" : '' %>
  >
    Technology
  </option>
  <option 
    value="Marketing" 
    <%= event.field === "Marketing" ? "selected" : '' %>
  >
    Marketing
  </option>
  <option 
    value="Health & Wellness" 
    <%= event.field === "Health & Wellness" ? "selected" : '' %>
  >
    Health & Wellness
  </option>
  <option 
    value="Finance" 
    <%= event.field === "Finance" ? "selected" : '' %>
  >
    Finance
  </option>
  <option 
    value="Education" 
    <%= event.field === "Education" ? "selected" : '' %>
  >
    Education
  </option>
  <option 
    value="Arts & Culture" 
    <%= event.field === "Arts & Culture" ? "selected" : '' %>
  >
    Arts & Culture
  </option>
  <option 
    value="Business Development" 
    <%= event.field === "Business Development" ? "selected" : '' %>
  >
    Business Development
  </option>
  <option 
    value="Networking" 
    <%= event.field === "Networking" ? "selected" : '' %>
  >
    Networking
  </option>
  <option 
    value="Startups & Entrepreneurship" 
    <%= event.field === "Startups & Entrepreneurship" ? "selected" : '' %>
  >
    Startups & Entrepreneurship
  </option>
  <option 
    value="Sustainability" 
    <%= event.field === "Sustainability" ? "selected" : '' %>
  >
    Sustainability
  </option>
  <option 
    value="Other" 
    <%= event.field === "Other" ? "selected" : '' %>
  >
    Other
  </option>
</select>

